@font-face {
  font-family: 'SourceSansPro';
  font-display: auto;
  src: url('SourceSansPro-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  font-display: auto;
  src: url('SourceSansPro-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'SourceSansPro';
  font-display: auto;
  src: url('SourceSansPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  font-display: auto;
  src: url('SourceSansPro-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  font-display: auto;
  src: url('SourceSansPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  font-display: auto;
  src: url('SourceSansPro-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}




